<template>
  <v-container grid-list-md :class="['pa-0']">
    <v-layout row wrap>
      <v-flex lg12 :class="['body-2']">
        <h2 v-html="config.appTitle" :class="['headline', 'mb-4']" />
        <p v-html="config.description" />
        <p>{{ $lang.version }} {{$config.version}} ({{$config.lastUpdated}})</p>
        <buy-me-a-coffee :icon="false" :class="['mx-0', 'mt-2', 'mb-4']" />
      </v-flex>
      <v-flex lg12>
        <app-controls />
      </v-flex>
      <v-flex lg12>
        <api-listing />
      </v-flex>
      <v-flex lg12>
        <external-links :title="$lang.externalLinksTitle" :sub-title="$lang.externalLinksSubTitle" :class="['mt-4']" />
      </v-flex>
      <v-flex lg12>
        <p v-html="$lang.versionLine(config.version, config.lastUpdated)" :class="['mt-2']" />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'About',
  mixins: [
    methods
  ],
  data () {
    return {
      config: this.$root.config
    }
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      this.setDocumentTitle(this.$lang.aboutTheApp)
    }
  }
}
</script>
