<template>
  <v-container grid-list-md :class="['pa-0']">
    <stats-nav v-if="$root.ready && tab === 0" />
    <v-tabs v-model="tab" :slider-color="getColorScheme()">
      <v-tab :title="$lang.tabDetails">
        <v-icon :class="['mr-2']">mdi-details</v-icon>
        <span v-html="$lang.tabDetails" />
      </v-tab>
      <v-tab :title="$lang.tabProjections">
        <v-icon :class="['mr-2']">mdi-check-circle</v-icon>
        <span v-html="$lang.tabProjections" />
      </v-tab>
      <v-tab :title="$lang.news">
        <v-icon :class="['mr-2']">mdi-newspaper</v-icon>
        <span v-html="$lang.news" />
      </v-tab>
      <v-tab-item>
        <!-- error message -->
        <v-layout row wrap>
          <v-flex lg12>
            <v-alert v-model="geoError" type="error">{{ $lang.geoError }}</v-alert>
          </v-flex>
        </v-layout>
        <!-- / error message -->
        <!-- country auto selected message -->
        <v-layout row wrap v-if="countryAutoSelected">
          <v-flex lg12>
            <v-alert dismissible outline @input="doNotShowCountryAutoselected()" icon="mdi-map-marker" :value="countryAutoSelected" type="warning">{{ $lang.countryAutoSelected }}</v-alert>
          </v-flex>
        </v-layout>
        <!-- / country auto selected message -->
        <!-- country and global totals -->
        <v-layout row wrap :class="['main-statistics-section']">
          <v-flex sm12 md12 lg6 v-if="country !== 'all' && country">
            <country-totals :country="country" />
          </v-flex>
          <v-flex sm12 md12 :lg6="country !== 'all' ? true : false" v-if="!geoError">
            <total />
          </v-flex>
        </v-layout>
        <!-- / country and global totals -->
        <!-- map -->
        <v-layout row wrap :class="['maps-section']">
          <v-flex lg12>
            <leafmap :disable-zoom="true" :class="[country === 'all' ? 'hide-markers' : null]" v-if="map" :zoom="zoom" :width="map.width" :height="map.height" :markers="map.markers" :latitude="map.latitude" :longitude="map.longitude" :mapbox-access-token="$config.map.mapboxAccessToken" />
          </v-flex>
        </v-layout>
        <!-- / map -->
        <!-- united states -->
        <states v-if="country && country !== 'all' && country.country.toLowerCase() === 'united states'" />
        <!-- / united states -->
        <!-- global line-chart -->
        <v-layout :class="['charts-section']">
          <v-flex lg12>
            <compare-dates :height="$config.map.height" />
          </v-flex>
        </v-layout>
        <!-- / global line-chart -->
        <!-- pie-charts -->
        <v-layout row wrap>
          <v-flex lg6 md12 sm12 v-if="country && country !== 'all'">
            <vc-pie-chart :title="country.country" size="35vh" height="60vh" :donut-hole-color="setDonutHoleColor()" :data="countryPieChart" :donut="true" />
          </v-flex>
          <v-flex :lg6="country !== 'all'" :lg12="country === 'all'" md12 sm12>
            <vc-pie-chart size="35vh" height="60vh" :title="$lang.globalCases" :donut-hole-color="setDonutHoleColor()" :data="globalCases" :donut="true" />
          </v-flex>
        </v-layout>
        <!-- / pie-charts -->
        <!-- continents charts -->
        <v-layout row wrap :class="['continents']">
          <v-flex lg12 md12 sm12>
            <v-card>
              <v-card-title v-html="$lang.continentsDescription" />
            </v-card>
          </v-flex>
          <continent :name="continent" v-for="(continent, index) in continents" :key="index" />
        </v-layout>
        <!-- / continents charts -->
        <!-- cfr grid -->
        <cfr-grid />
        <!-- / cfr grid -->
      </v-tab-item>
      <v-tab-item>
        <projections />
      </v-tab-item>
      <v-tab-item>
        <news-feed v-if="country && country !== 'all'" :country="country" />
        <v-alert v-else :value="true" type="warning" :class="['mt-2']">{{ $lang.newsAreAvailablePerCountry }}</v-alert>
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>
<script>
import methods from '../mixins/methods'
import Cookies from 'universal-cookie'

const cookies = new Cookies()

export default {
  name: 'Countries',
  data () {
    return {
      tab: 0,
      country: null,
      map: null,
      zoom: 5,
      geoError: false,
      countryPieChart: [],
      countryAutoSelected: false,
      storedAutoSelectedCountryCookie: 'country',
      countryAutoSelectedCookie: 'country-auto-selected',
      countryPieChartInclude: [
        'cases',
        'todayCases',
        'deaths',
        'todayDeaths',
        'recovered'
      ],
      continents: [
        'Europe',
        'Asia',
        'Africa',
        'South America',
        'North America',
        'Antarctica',
        'Australia'
      ]
    }
  },
  mixins: [
    methods
  ],
  mounted () {
    this.onMounted()
  },
  computed: {
    /**
     * @computed globalCases
     * @return {array}
     */
    globalCases () {
      const today = this.$root.today
      const colors = this.$config.caseColors
      const items = []
      const includes = ['deaths', 'recovered', 'cases']
      Object.keys(today).forEach(key => {
        if (includes.includes(key)) {
          items.push({
            value: today[key],
            label: this.$lang[key],
            color: colors[key]
          })
        }
      })
      return items
    }
  },
  watch: {
    /**
     * @watcher
     * @return {void}
     */
    '$route.params' () {
      this.tab = 0
      this.$nextTick(() => {
        this.getCountryData()
      })
    },
    /**
     * @watcher
     * @return {void}
     */
    '$root.config.today' () {
      this.$router.push({
        path: this.getCountryByDate(this.$route.params.country)
      })
    }
  },
  methods: {
    /**
     * Set the data for the country pie-chart
     * @method setCountryPieChart
     * @return {void}
     */
    setCountryPieChart () {
      const countryPieChart = []
      const colors = this.$config.caseColors
      Object.keys(this.country).forEach(key => {
        if (this.countryPieChartInclude.includes(key)) {
          countryPieChart.push({
            color: colors[key],
            value: this.country[key],
            label: this.$lang[key]
          })
        }
      })
      this.countryPieChart = countryPieChart
    },
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      const storedAutoSelectedCountryCookie = this.storedAutoSelectedCountryCookie
      const storedCountry = cookies.get(storedAutoSelectedCountryCookie)
      this.$root.$on(this.$events.update, () => {
        this.$root.loadingOverlayMessage = null
        this.getCountryData()
      })
      if (this.$root.firstRun) {
        if (cookies.get(storedAutoSelectedCountryCookie)) {
          this.$router.push({
            path: this.getCountryByDate(storedCountry)
          })
          this.countryAutoSelected = !cookies.get(this.countryAutoSelectedCookie)
          return
        }
        // const route = this.$api.geoip
        this.$http({
          url: 'https://freegeoip.app/json/',
          method: 'GET'
        }).then(response => {
          if (
            response &&
            response.status === 200 &&
            response.data &&
            response.data.country_name &&
            this.getCountryByName(response.data.country_name)
          ) {
            this.$root.firstRun = false
            this.$nextTick(() => {
              const country = response.data.country_name.toLowerCase()
              this.$router.push({
                path: this.getCountryByDate(country)
              })
              this.countryAutoSelected = !cookies.get(this.countryAutoSelectedCookie)
              cookies.set(storedAutoSelectedCountryCookie, country, {
                path: '/',
                expires: this.oneMonthFromNow()
              })
            })
          } else {
            this.getCountryData()
          }
        })
      } else {
        this.getCountryData()
      }
    },
    /**
     * Dismiss the country autoselected message and do not show for one month
     * @method doNotShowCountryAutoselected
     * @return {void}
     */
    doNotShowCountryAutoselected () {
      cookies.set(this.countryAutoSelectedCookie, true, {
        path: '/',
        expires: this.oneMonthFromNow()
      })
    },
    /**
     * Get the country data and prepare it for rendering
     * @method getCountryData
     * @return {void}
     */
    getCountryData () {
      this.geoError = false
      if (this.$route.params.country === 'all') {
        const markers = []
        this.$root.countries.forEach(item => {
          if (item.country) {
            const geo = this.getCountryGeoData(item.country)
            if (geo) {
              markers.push({
                latitude: parseFloat(geo[1]),
                longitude: parseFloat(geo[2]),
                text: item.country,
                value: item.cases
              })
            }
          }
        })
        this.country = 'all'
        this.map = null
        this.$nextTick(() => {
          this.zoom = 1
          const map = this.$config.map
          map.markers = markers
          this.map = map
          this.setDocumentTitle(this.$lang.globalCases)
        })
      } else {
        this.country = null
        this.map = null
        this.zoom = 4.5
        this.countryPieChart = []
        this.$nextTick(() => {
          const country = this.getCountryByName()
          const map = this.$config.map
          const geo = this.getCountryGeoData()
          if (geo && country) {
            country.geo = geo
            map.latitude = parseFloat(country.geo[1])
            map.longitude = parseFloat(country.geo[2])
            this.country = country
            map.markers = [{
              latitude: map.latitude,
              longitude: map.longitude,
              value: this.$root.today.deaths
            }]
            this.map = map
            this.setCountryPieChart()
            this.setDocumentTitle(this.country.country)
          } else {
            this.geoError = true
          }
        })
      }
    }
  }
}
</script>
<style>
.hide-markers .leaflet-popup
{
  display: none !important;
}
</style>
