<template>
  <div />
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'Index',
  mixins: [
    methods
  ],
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      this.$router.push({
        path: this.getCountryByDate()
      })
    }
  }
}
</script>
