<template>
  <v-card :class="['api-listing', 'mt-4']">
    <v-card-title primary-title :class="['py-2']">
      <div>
        <div :class="['headline', 'mb-2']" v-html="$lang.api" />
        <div v-html="$lang.apiDescription" />
      </div>
    </v-card-title>
    <v-card-text :class="['pt-0']">
      <v-list dense two-line>
        <template v-for="(value, key, index) in $api">
          <v-list-tile v-if="!exclude.includes(key)" :key="key" :href="value.url" target="_blank" :title="value.description">
            <v-list-tile-avatar>
              <v-chip dark small :color="getColorScheme()">{{ value.methods.join(', ') }}</v-chip>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title v-html="value.url" />
              <v-list-tile-sub-title v-html="value.description" />
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>mdi-open-in-new</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider :key="`${key}-divider`" v-if="index < Object.keys($api).length - 1" />
        </template>
      </v-list>
    </v-card-text>
  </v-card>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'ApiListing',
  mixins: [
    methods
  ],
  data () {
    return {
      exclude: [
        'today',
        'geoip'
      ]
    }
  }
}
</script>
