<template>
  <v-img height="20vh" @click="showAllCountries()" :title="title" :aspect-ratio="16/9" :src="backgroundImage" :class="['app-avatar', 'item-clickable', 'text-xs-center']">
    <v-icon v-if="icon" :color="iconColor" :size="`${iconSize}em`" :class="['mt-3']">{{ icon }}</v-icon>
    <v-img src="/static/icons/256.png" :class="['app-avatar-logo']" />
  </v-img>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'AppAvatar',
  mixins: [
    methods
  ],
  props: {
    /**
     * Icon size in em-units
     */
    iconSize: {
      type: Number,
      default: 10,
      required: false
    },
    /**
     * Icon color
     */
    iconColor: {
      type: String,
      default: null,
      required: false
    },
    /**
     * Icon color
     */
    title: {
      type: String,
      default: null,
      required: false
    },
    /**
     * Background image
     */
    backgroundImage: {
      type: String,
      required: false,
      default: '/static/images/app-avatar.jpg'
    },
    /**
     * Click URL
     */
    to: {
      type: String,
      required: false,
      default: '/'
    },
    /**
     * Icon
     */
    icon: {
      type: String,
      default: 'mdi-home',
      required: false
    }
  },
  methods: {
    /**
     * Navigate to the default /:date/:country view
     * @method showAllCountries
     * @return {void}
     */
    showAllCountries () {
      const path = this.getCountryByDate()
      if (this.$route.fullPath !== path) {
        this.$router.push({path})
      }
    }
  }
}
</script>
<style>
.theme--dark .app-avatar
{
  filter: brightness(164%)
    contrast(100%)
    sepia(0%)
    saturate(0%)
    hue-rotate(0deg)
    invert(100%)
    opacity(100%)
    grayscale(100%)
    blur(0px);
}

.app-avatar .v-icon
{
  opacity: .75;
}

.app-avatar .app-avatar-logo
{
  transform: scale(.8);
  opacity: .5;
}
</style>
