<template>
  <v-btn dark :color="!icon ? getColorScheme() : null" v-if="$root.config.donateButton" aria-label="donate" :icon="icon" @click="getUrl($config.donateUrl, '_blank')" :title="$lang.donate">
    <v-icon>mdi-coffee-outline</v-icon><span v-if="!icon" v-html="$lang.donate" :class="['ml-3']" />
  </v-btn>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'BuyMeACoffee',
  mixins: [
    methods
  ],
  props: {
    /**
     * @boolean
     */
    icon: {
      type: Boolean,
      default: true
    }
  }
}
</script>
