<template>
  <v-layout row wrap v-if="grid && grid.length" :class="['cfr-grid']">
    <v-flex>
      <v-card>
        <v-card-title v-html="$lang.cfrDescription" />
      </v-card>
    </v-flex>
    <v-flex>
      <v-card>
        <v-card-title>
          <form autocomplete="off" @submit.prevent :class="['pa-0', 'ma-0']">
            <v-text-field spellcheck="false" :color="getColorScheme()" v-model="search" prepend-icon="search" :title="$lang.filterCountriesByCfr" :placeholder="$lang.filterCountriesByCfr" single-line hide-details />
          </form>
        </v-card-title>
        <v-card-text>
          <v-data-table :pagination.sync="pagination" :search="search" :items="grid" :headers="headers" :class="['elevation-1']">
            <template v-slot:items="props">
              <td :class="['text-xs-left']" v-html="props.item.country" />
              <td :class="['text-xs-right']">{{ props.item.cases | numFormat }}</td>
              <td :class="['text-xs-right']">{{ props.item.deaths | numFormat }}</td>
              <td :class="['text-xs-right']" v-html="props.item.cfrCalculated" />
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'Cfr',
  mixins: [
    methods
  ],
  data () {
    return {
      search: '',
      grid: this.$root.countries,
      headers: [],
      pagination: {
        sortBy: 'cfrCalculated',
        descending: true,
        rowsPerPage: 10
      },
      include: [
        'country',
        'cases',
        'deaths'
      ]
    }
  },
  created () {
    this.onCreated()
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onCreated
     * @return {void}
     */
    onMounted () {
      this.getCfr()
    },
    /**
     * Handler for the $created lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onCreated () {
      this.$root.$on(this.$events.update, () => {
        this.getCfr()
      })
    },
    /**
     * Calculate the CFR for each country
     * @method getCfr
     * @return {void}
     */
    getCfr () {
      const countries = this.$root.countries
      countries.forEach(item => {
        const cfr = parseFloat(item.deaths / item.cases * 100)
        item.cfrCalculated = cfr ? `${cfr.toFixed(2)}%` : 0
      })
      this.grid = countries.filter(country => country.cfrCalculated !== 0)
      this.createHeaders()
    },
    /**
     * Create the headers for the grid
     * @method createHeaders
     * @return {void}
     */
    createHeaders () {
      const keys = Object.keys(this.grid[0])
      const headers = []
      const lang = this.$lang
      keys.forEach(key => {
        if (this.include.includes(key)) {
          headers.push({
            text: lang[key],
            align: key === 'country' ? 'left' : 'right',
            sortable: true,
            value: key
          })
        }
      })
      headers.push({
        text: lang.cfrAbbr,
        align: 'right',
        sortable: true,
        value: 'cfrCalculated'
      })
      this.headers = headers
    }
  }
}
</script>
