<template>
  <v-btn @click.stop="scrollToCfrGrid()" :title="$lang.cfr" small dark :color="getColorScheme('danger')">
    {{ $lang.cfrAbbr }}: {{ getCfr }}
  </v-btn>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'Cfr',
  mixins: [
    methods
  ],
  props: {
    deaths: {
      type: Number,
      required: false,
      default: null
    },
    cases: {
      type: Number,
      required: false,
      default: null
    }
  },
  computed: {
    /**
     * @computed getCfr
     * @return {string}
     */
    getCfr () {
      return `${parseFloat(this.deaths / this.cases * 100).toFixed(2)}%`
    }
  },
  methods: {
    /**
     * Scroll <cfr-grid /> into view
     * @method scrollToCfrGrid
     * @return {void}
     */
    scrollToCfrGrid () {
      document.querySelector('.cfr-grid').scrollIntoView()
      this.gtEvent('click', {
        event_category: 'view stats section',
        event_label: '.cfr-grid'
      })
    }
  }
}
</script>
