<template>
  <v-card>
    <v-card-text :class="['pa-0']">
      <line-chart :id="id" :style="{height: height}" :chart-data="chartData" :options="options" />
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <export-as-label />
      <export-image :node-id="id" />
    </v-card-actions>
  </v-card>
</template>
<script>
import { v4 as uuidv4 } from 'uuid'

export default {
  name: 'CompareDates',
  data () {
    return {
      id: `compare-dates-${uuidv4()}`,
      /**
       * Chart series
       * @object
       */
      chartData: {
        labels: [],
        datasets: []
      },
      /**
       * Chart options
       * @object
       */
      options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: this.$lang.globalCasesMovement
        }
      }
    }
  },
  props: {
    /**
     * Chart height
     * @string
     */
    height: {
      type: String,
      required: false,
      default: 'auto'
    }
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      const root = this.$root
      const config = root.config
      const hexWarning = config.hexWarning
      const hexDanger = config.hexDanger
      const hexSuccess = config.hexSuccess
      const backgroundColor = 'transparent'
      const borderWidth = 1
      const lang = this.$lang
      const compareDates = this.$root.compareDates
      const compareDatesKeys = Object.keys(compareDates)
      const chartData = {
        labels: compareDatesKeys,
        datasets: [{
          borderWidth,
          backgroundColor,
          data: [],
          label: lang.confirmedCases,
          borderColor: hexWarning,
          pointBackgroundColor: hexWarning
        }, {
          borderWidth,
          backgroundColor,
          data: [],
          label: lang.deaths,
          borderColor: hexDanger,
          pointBackgroundColor: hexDanger
        }, {
          borderWidth,
          backgroundColor,
          data: [],
          label: lang.recovered,
          borderColor: hexSuccess,
          pointBackgroundColor: hexSuccess
        }]
      }
      compareDatesKeys.forEach(key => {
        const item = compareDates[key]
        chartData.datasets[0].data.push(item.cases)
        chartData.datasets[1].data.push(item.deaths)
        chartData.datasets[2].data.push(item.recovered)
      })
      this.chartData = chartData
    }
  }
}
</script>
