<template>
  <v-flex :class="['continent']" v-if="cases && chart.length" lg4 md6 sm12>
    <vc-pie-chart size="29vh" height="60vh" :title="name" :donut-hole-color="setDonutHoleColor()" :data="chart" :donut="true" />
  </v-flex>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'Continent',
  mixins: [
    methods
  ],
  data () {
    return {
      cases: null,
      include: [
        'cases',
        'todayCases',
        'deaths',
        'todayDeaths',
        'recovered',
        'active',
        'critical'
      ]
    }
  },
  props: {
    /**
     * Continent name
     * @string
     */
    name: String,
    required: true
  },
  computed: {
    /**
     * @computed chart
     * @return {array}
     */
    chart () {
      const chart = []
      Object.keys(this.cases).forEach(key => {
        if (this.cases[key]) {
          chart.push({
            value: this.cases[key],
            label: this.$lang[key],
            color: this.$config.caseColors[key]
          })
        }
      })
      return chart
    }
  },
  mounted () {
    this.onMounted()
  },
  created () {
    this.$root.$on(this.$events.update, () => {
      this.getContinentData()
    })
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      this.getContinentData()
    },
    /**
     * Filter continent data
     * @method getContinentData
     * @return {void}
     */
    getContinentData () {
      const root = this.$root
      this.cases = this.include.reduce((ac, a) => ({ ...ac, [a]: 0 }), {})
      const coords = root.coords.filter(country => country[4] === this.name)
      const countries = root.countries.filter(country => {
        if (coords.find(coord => coord[3] === country.country)) {
          return country
        }
      })
      countries.forEach(country => {
        this.include.forEach(include => {
          this.cases[include] = this.cases[include] + country[include]
        })
      })
    }
  }
}
</script>
