<template>
  <v-toolbar v-if="visible" dense dark :class="['cookie-consent', 'elevation-24']">
    <span v-html="$lang.cookieConsentMessage" :class="['caption']" />
    <v-spacer/>
    <v-btn small @click="dismiss" :color="getColorScheme()" :title="$lang.dismiss">{{ $lang.dismiss }}</v-btn>
  </v-toolbar>
</template>
<script>
import methods from '../mixins/methods'
import Cookies from 'universal-cookie'

const cookies = new Cookies()
const cookieConsentCookie = 'cookie-consent'

export default {
  name: 'CookieConsent',
  mixins: [
    methods
  ],
  data () {
    return {
      cookieConsentCookie,
      visible: !cookies.get(cookieConsentCookie)
    }
  },
  methods: {
    dismiss () {
      this.visible = false
      cookies.set(this.cookieConsentCookie, true, {
        path: '/',
        expires: this.oneMonthFromNow()
      })
    }
  }
}
</script>
<style>
.cookie-consent
{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 10000;
}
</style>
