<template>
  <v-card :class="['text-xs-center', 'item-clickable']" :title="$lang.viewCountryData(country.country)" @click="getCountryInfo(country.country)">
    <v-card-title primary-title :class="['py-2']">
      <div :class="['title', 'full-width']" v-html="$lang.totalCasesByCountry(country.country, country.cases)" />
    </v-card-title>
    <v-divider />
    <v-card-text>
      <v-container grid-list-md :class="['pa-0']">
        <v-layout row wrap>
          <v-flex :class="[getColor(key)]" v-if="include.includes(key)" v-for="(value, key) in country" :key="key">
            <div :class="['body-2', 'mb-2']" v-html="$lang[key]" />
            <div :class="['title']">{{ value | numFormat }}</div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <export-as-label />
      <export-csv :data="country" />
      <export-json :data="country" />
      <v-spacer />
      <v-icon :title="$root.bookmarks.includes(country.country) ? $lang.bookmarkRemove : $lang.bookmarkAdd" :color="$root.bookmarks.includes(country.country) ? getColorScheme('warning') : 'grey'" :class="['mr-2', 'clickable-item']" @click.stop="bookmark(country.country)">
        {{ $root.bookmarks.includes(country.country) ? 'mdi-star' : 'mdi-star-outline' }}
      </v-icon>
      <cfr :deaths="country.deaths" :cases="country.cases" />
    </v-card-actions>
  </v-card>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'CountryTotals',
  mixins: [
    methods
  ],
  data () {
    return {
      include: [
        'todayDeaths',
        'deaths',
        'recovered',
        'critical',
        'todayCases'
      ]
    }
  },
  props: {
    /**
     * Country data
     * @object
     */
    country: {
      type: Object,
      required: true
    }
  },
  methods: {
    /**
     * Get the correct color for a data key value
     * @method
     * @param {string} key [key = 'deaths']
     * @return {string}
     */
    getColor (key = 'deaths') {
      switch (key) {
        case 'deaths':
        case 'todayDeaths':
          return this.getColorScheme('danger', true)
        case 'recovered':
          return this.getColorScheme('success', true)
        default:
          return ''
      }
    }
  }
}
</script>
