<template>
  <div :class="['countries-list']">
    <form autocomplete="off" @submit.prevent :class="['pa-0', 'ma-0']">
      <v-text-field spellcheck="false" prepend-icon="search" v-model="search" browser-autocomplete="off" aria-label="filter-countries" :title="$lang.filterCountries" :placeholder="$lang.filterCountries" :class="['mx-2', 'my-1']" hide-details :color="getColorScheme()" />
    </form>
    <v-card :class="['ma-2']">
      <v-card-text :style="{maxHeight}" :class="['countries-list-container', 'pa-2']">
        <v-list dense two-line>
          <!-- bookmarks -->
          <template v-for="(country, index) in $root.bookmarks">
            <v-list-tile :title="$lang.viewCountryData(country)" :key="`${country}-${index}`" :to="getCountryByDate(country)">
              <v-list-tile-avatar @click.prevent="bookmark(country)">
                <v-icon :title="$lang.bookmarkRemove" :color="getColorScheme('warning')">mdi-star</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="country" :class="[$root.config.dark ? 'white--text' : 'black--text']" />
                <v-list-tile-sub-title :class="['grey--text', 'text--darken-1']" v-html="$lang.bookmarked"/>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>mdi-chevron-double-right</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider :key="`${country}-bookmark-divider`" />
          </template>
          <!-- / bookmarks -->
          <!-- all countries -->
          <v-list-tile :to="getCountryByDate()" :title="$lang.viewCountryData($lang.allCountries.toLowerCase())">
            <v-list-tile-content>
              <v-list-tile-title v-html="$lang.allCountries" :class="[$root.config.dark ? 'white--text' : 'black--text']" />
              <v-list-tile-sub-title  v-html="$lang.countriesListSubTitle($root.today)"/>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>mdi-chevron-double-right</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider dark :inset="!avatar" />
          <!-- / all countries -->
          <!-- countries list -->
          <template v-for="(country, index) in filteredList">
            <v-list-tile v-if="country.country" :title="$lang.viewCountryData(country.country)" :key="country.country" :to="getCountryByDate(country.country)">
              <v-list-tile-avatar v-if="avatar" @click.prevent="bookmark(country.country)">
                <v-icon :title="$lang.bookmarkRemove" :color="getColorScheme('warning')" v-if="$root.bookmarks.includes(country.country)">mdi-star</v-icon>
                <v-icon :title="$lang.bookmarkAdd" color="grey" v-else>{{ avatar }}</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="country.country" :class="[$root.config.dark ? 'white--text' : 'black--text']" />
                <v-list-tile-sub-title v-html="$lang.countriesListSubTitle(country)" />
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>mdi-chevron-right</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider :inset="!avatar" :key="index" v-if="index < $root.countries.length - 1" />
          </template>
          <!-- / countries list -->
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'CountriesList',
  data () {
    return {
      search: '',
      excludes: [
        'World'
      ]
    }
  },
  mixins: [
    methods
  ],
  props: {
    /**
     * Avatar icon
     * @string
     */
    avatar: {
      type: String,
      required: false,
      default: 'mdi-google-maps'
    },
    /**
     * List max-height
     * @string
     */
    maxHeight: {
      type: String,
      required: false,
      default: null
    }
  },
  computed: {
    /**
     * Filter the list according to the search property
     * @computed
     * @return {array}
     */
    filteredList () {
      const countries = this.$root.countries || []
      return countries.filter(item => {
        const country = item.country.toLowerCase()
        if (!this.$config.excludedLocations.includes(country)) {
          return country.indexOf(this.search.toLowerCase()) > -1
        }
      })
    }
  }
}
</script>
<style>
.countries-list .countries-list-container
{
  overflow: auto;
}
</style>
