<template>
  <v-dialog persistent v-model="visible" width="640" :class="['country-info']">
    <v-card v-if="country">
      <v-card-title :class="['title', getColorScheme(), 'white--text', 'py-1', 'pr-1']">
        <span v-html="country.name" />
        <v-spacer />
        <v-btn small dark icon @click="close" :title="$lang.close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text :class="['pa-1']">
        <v-list dense two-line :class="['country-info-list']">
          <template v-for="(value, key) in country" v-if="include.includes(key)">
            <v-list-tile :key="key">
              <v-list-tile-content>
                <v-list-tile-title v-html="($lang[key] || key) + ':'" />
                <v-list-tile-sub-title v-html="formatValue(key, value)" />
              </v-list-tile-content>
            </v-list-tile>
            <v-divider :key="`${key}-divider`" />
          </template>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import methods from '../mixins/methods'
import numeral from 'numeral'

export default {
  name: 'Country',
  mixins: [
    methods
  ],
  data () {
    return {
      visible: false,
      country: null,
      include: [
        'population',
        'callingCodes',
        'capital',
        'region',
        'subregion',
        'latlng',
        'area',
        'timezones',
        'borders'
      ]
    }
  },
  watch: {
    '$route.path' () {
      this.close()
    }
  },
  created () {
    this.onCreated()
  },
  methods: {
    /**
     * Handler for the $created lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onCreated () {
      this.$root.$on(this.$events.country, (country) => {
        this.country = country
        this.visible = true
        this.gtEvent('click', {
          event_category: 'view country details',
          event_label: this.country.name
        })
      })
    },
    /**
     * Format the value according to the key type
     * @method formatValue
     * @param {string} key [key = '']
     * @param {string|number|object} value
     * @return {string}
     */
    formatValue (key = '', value = null) {
      switch (key) {
        case 'population':
        case 'area':
          value = numeral(value).format(this.$config.numeralsFormat) + (key === 'area' ? ' km<sup>2</sup>' : '')
          break
      }
      return typeof value === 'object' ? value.join(', ') : value
    },
    /**
     * Dismiss the dialog
     * @method onMounted
     * @return {void}
     */
    close () {
      this.country = null
      this.visible = false
    }
  }
}
</script>
<style>
.country-info-list
{
  overflow: auto;
  max-height: 370px;
}
</style>
