<template>
  <span v-html="$lang.еxportAsLabel" :class="['caption', 'export-as-label', 'mr-1']" />
</template>
<script>

export default {
  name: 'ExportAsLabel'
}
</script>
<style>
.export-as-label
{
  vertical-align: middle !important;
  display: inline-block !important;
  font-size: 11px !important;
  margin-top: 2px !important;
  opacity: .8 !important;
  text-transform: uppercase !important;
}
</style>
