<template>
  <v-btn small dark flat :title="$lang.exportAs('json')" @click.stop="exportAsJson" color="grey" :class="['icon-button-auto-width']">
    <v-icon v-if="icon">{{ icon }}</v-icon>
    <span v-else v-html="format" />
  </v-btn>
</template>
<script>
import methods from '../mixins/methods'
import { saveAs } from 'file-saver'

export default {
  name: 'ExportJson',
  mixins: [
    methods
  ],
  data () {
    return {
      format: 'json'
    }
  },
  props: {
    /**
     * @object
     */
    data: {
      type: [Object, Array],
      required: false,
      default: () => {
        return {}
      }
    },
    /**
     * @string
     */
    icon: {
      type: String,
      required: false,
      default: null
    }
  },
  methods: {
    /**
     * Export the data as JSON
     * @method exportAsJson
     * @return {void}
     */
    exportAsJson () {
      saveAs(new Blob([JSON.stringify(this.data, null, 2)], {
        type: 'text/plain;charset=utf-8'}
      ), this.makeFileName(null, this.format))
    }
  }
}
</script>
