<template>
  <v-btn small dark flat :title="$lang.exportAs(format)" @click.stop="exportAsCsv" color="grey" :class="['icon-button-auto-width']">
    <v-icon v-if="icon">{{ icon }}</v-icon>
    <span v-else v-html="format" />
  </v-btn>
</template>
<script>
import Papa from 'papaparse'
import methods from '../mixins/methods'
import { saveAs } from 'file-saver'

export default {
  name: 'ExportCsv',
  mixins: [
    methods
  ],
  data () {
    return {
      format: 'csv'
    }
  },
  props: {
    /**
     * @object
     */
    data: {
      type: [Object, Array],
      required: false,
      default: () => {
        return {}
      }
    },
    /**
     * @string
     */
    icon: {
      type: String,
      required: false,
      default: null
    }
  },
  methods: {
    /**
     * Export the data as comma-separated values
     * @method exportAsCsv
     * @return {void}
     */
    exportAsCsv () {
      saveAs(new Blob([Papa.unparse([this.data])], {
        type: 'text/plain;charset=utf-8'}
      ), this.makeFileName(null, this.format))
    }
  }
}
</script>
