<template>
  <v-btn small dark flat :disabled="loading" :loading="loading" :title="$lang.exportAs(format)" @click.stop="exportAsPng" color="grey" :class="['icon-button-auto-width']">
    <v-icon v-if="icon">{{ icon }}</v-icon>
    <span v-else v-html="format" />
  </v-btn>
</template>
<script>
import methods from '../mixins/methods'
import { saveAs } from 'file-saver'
import htmlToImage from 'html-to-image'

export default {
  name: 'ExportImage',
  mixins: [
    methods
  ],
  data () {
    return {
      loading: false,
      format: 'png'
    }
  },
  props: {
    /**
     * @object
     */
    nodeId: {
      type: String,
      required: false,
      default: null
    },
    /**
     * @string
     */
    icon: {
      type: String,
      required: false,
      default: null
    }
  },
  methods: {
    /**
     * Export the data as png file
     * @method exportAsCsv
     * @return {void}
     */
    exportAsPng () {
      const node = document.getElementById(this.nodeId)
      if (node) {
        this.loading = true
        htmlToImage.toPng(node).then(blob => {
          saveAs(blob, this.makeFileName(null, this.format))
          this.loading = false
        })
      }
    }
  }
}
</script>
