<template>
  <v-card :class="['leafmap']" v-if="$root.config.map.enabled">
    <v-card-text :class="['pa-0']">
      <div :id="id" :style="{width, height}" />
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <export-as-label />
      <export-image :node-id="id" />
    </v-card-actions>
  </v-card>
</template>
<script>
import { v4 as uuidv4 } from 'uuid'
import methods from '../mixins/methods'

export default {
  name: 'Leafmap',
  mixins: [
    methods
  ],
  data () {
    return {
      id: `leafmap-${uuidv4()}`
    }
  },
  props: {
    /**
     * Map width in any unit
     */
    width: {
      type: String,
      required: false,
      default: '100%'
    },
    /**
     * Map height in any unit
     */
    height: {
      type: String,
      required: false,
      default: '100vh'
    },
    /**
     * Access token for mapbox.com
     */
    mapboxAccessToken: {
      type: String,
      required: true
    },
    /**
     * Default latitude
     */
    latitude: {
      type: Number,
      required: false,
      default: 0
    },
    /**
     * Default longitude
     */
    longitude: {
      type: Number,
      required: false,
      default: 0
    },
    /**
     * Max allowed zoom
     */
    maxZoom: {
      type: Number,
      required: false,
      default: 20
    },
    /**
     * Min allowed zoom
     */
    minZoom: {
      type: Number,
      required: false,
      default: 0
    },
    /**
     * Default zoom
     */
    zoom: {
      type: Number,
      required: false,
      default: 5
    },
    /**
     * Enable/disable zoom
     */
    disableZoom: {
      type: Boolean,
      required: false,
      default: false
    },
    /**
     * @module markers
     * [{
     *  latitude: Number,
     *  longitude: Number,
     *  text: String
     * }]
     */
    markers: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  mounted () {
    if (this.$root.config.map.enabled) {
      this.onMounted()
    }
  },
  methods: {
    /**
     * Handler for the $mounted event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      const L = window.L
      const mapboxAccessToken = this.mapboxAccessToken
      const map = L.map(this.id).setView([this.latitude, this.longitude], this.zoom)
      const markerOptions = this.$root.config.map.marker
      this.markers.forEach(marker => {
        const radius = marker.value.toString().length
        markerOptions.radius = radius * radius
        const item = L.circleMarker([marker.latitude, marker.longitude], markerOptions).addTo(map).on('click', (e) => {
          const popup = e.target._popup
          if (popup) {
            this.$router.push({
              path: this.getCountryByDate(e.target._popup._content.toLowerCase())
            })
          }
        })
        if (marker.text) {
          item.bindPopup(marker.text).openPopup()
        }
      })
      if (this.disableZoom) {
        map.touchZoom.disable()
        map.doubleClickZoom.disable()
        map.scrollWheelZoom.disable()
        map.zoomControl.remove()
        map.dragging.disable()
      }
      L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=${mapboxAccessToken}`, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: this.maxZoom,
        minZoom: this.minZoom,
        scrollWheelZoom: false,
        id: 'mapbox/streets-v11',
        accessToken: mapboxAccessToken
      }).addTo(map)
    }
  }
}
</script>
<style>
.leafmap .leaflet-pane.leaflet-tile-pane
{
  mix-blend-mode: multiply;
  filter: brightness(100%)
    contrast(100%)
    sepia(0%)
    saturate(0%)
    hue-rotate(0deg)
    invert(0%)
    opacity(100%)
    grayscale(0%)
    blur(0px);
}
</style>
