<template>
  <div :class="['loading-overlay', $root.config.dark ? 'loading-overlay-dark' : null, visible ? null : 'loading-overlay-hidden']">
    <div>
      <v-progress-circular indeterminate :size="64" :color="getColorScheme()" />
    </div>
    <div :class="['loading-overlay-message']" v-if="message" v-html="message" />
  </div>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'LoadingOverlay',
  mixins: [
    methods
  ],
  data () {
    return {
      visible: true
    }
  },
  props: {
    /**
     * @string
     */
    message: {
      type: String,
      required: false
    }
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      this.$root.$on(this.$events.ajax, (visible) => {
        if (!this.$root.noAjaxSpinner) {
          this.visible = visible
        }
      })
    }
  }
}
</script>
<style>
.loading-overlay,
.loading-overlay > div
{
  user-select: none;
  position: fixed;
}

.loading-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: wait;
  z-index: 10000;
  background: rgba(255, 255, 255, .5);
}

.loading-overlay-hidden
{
  display: none;
}

.loading-overlay-dark
{
  background: rgba(0, 0, 0, .5);
}

.loading-overlay > div
{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-overlay .loading-overlay-message
{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  opacity: .8;
  top: 60%;
  font-size: .8em;
}
</style>
