<template>
  <v-layout row wrap v-if="news && news.length" :class="['mt-1']">
    <v-flex lg12>
      <v-card :class="['news-feed']">
        <v-card-title primary-title :class="['py-2']">
          <div>
            <div :class="['headline', 'mb-2']" v-html="$lang.latestNewsAbout(country.country, limit)" />
          </div>
        </v-card-title>
        <v-card-text :class="['pt-0']">
          <v-list dense two-line>
            <template v-for="(link, index) in news" v-if="index < limit">
              <v-list-tile @click="sendEvent(link.title)" rel="noopener" :key="link.guid" target="_blank" :href="link.link" :title="link.title">
                <v-list-tile-avatar>
                  <v-icon>mdi-newspaper</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-html="link.title" />
                  <v-list-tile-sub-title>
                    {{ moment(link.pubDate).format($root.config.humanReadableDateFormat) }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon>mdi-chevron-double-right</v-icon>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider :key="link.title" v-if="index < news.length - 1" />
            </template>
          </v-list>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import moment from 'moment'
import methods from '../mixins/methods'

export default {
  name: 'NewsFeed',
  mixins: [
    methods
  ],
  data () {
    return {
      moment,
      news: [],
      sessionStorageKey: 'news'
    }
  },
  props: {
    /**
     * @object
     */
    country: {
      type: Object,
      required: true
    },
    /**
     * @number
     */
    limit: {
      type: Number,
      required: false,
      default: 15
    }
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      const isoCode = this.country.geo[0]
      const stored = this.getStoredNews()[isoCode]
      if (stored) {
        this.news = stored
        return
      }
      this.$root.noAjaxSpinner = true
      this.$root.noScroll = true
      this.$root.newsLoading = true
      const route = this.$api.news
      this.$http({
        url: route.url,
        method: route.methods[0],
        data: {
          country: encodeURIComponent(this.country.country)
        }
      }).then(response => {
        this.$root.noAjaxSpinner = false
        this.$root.noScroll = false
        this.$root.newsLoading = false
        if (
          response && response.data &&
          response.data.channel &&
          response.data.channel.item &&
          response.data.channel.item.length) {
          this.news = response.data.channel.item
          this.storeNews(isoCode)
        } else {
          this.news = []
        }
      }).catch(error => {
        this.$root.newsLoading = false
        console.error(error)
      })
    },
    /**
     * Get the news array stored in the sessionStorage
     * @method getStoredNews
     * @return {object}
     */
    getStoredNews () {
      const stored = sessionStorage.getItem(this.sessionStorageKey)
      return JSON.parse(stored) || {}
    },
    /**
     * Store the news array for the country in the sessionStorage
     * @method storeNews
     * @param {string} isoCode [isoCode = '']
     * @return {object}
     */
    storeNews (isoCode = '') {
      if (isoCode) {
        const stored = this.getStoredNews()
        const storedNews = stored[isoCode]
        if (!storedNews) {
          stored[isoCode] = this.news
          sessionStorage.setItem(this.sessionStorageKey, JSON.stringify(stored))
        }
      }
    },
    /**
     * Send Gtag efent
     * @method sendEvent
     * @param {string} title [title = '']
     * @return {void}
     */
    sendEvent (title = '') {
      this.gtEvent('click', {
        event_category: 'view news',
        event_label: title
      })
    }
  }
}
</script>
