<template>
  <v-layout row wrap fill-height grid-list-md v-if="country && projections" :class="['projections', 'pa-0']">
    <!-- no projections data -->
    <v-flex lg12 v-if="noProjectionsData">
      <v-alert v-model="noProjectionsData" type="warning" :class="['mt-2']">{{ $lang.noProjectionsData }}</v-alert>
    </v-flex>
    <!-- / no projections data -->
    <template v-if="noProjectionsData === false">
      <!-- children -->
      <v-flex lg12 md12 sm12 :class="['mt-2']" v-if="children && children.length">
        <v-select :placeholder="$lang.selectChildRegion" @change="getChildProjections($event)" :color="getColorScheme()" v-model="child" :items="children" solo hide-details :class="['mb-0']" />
      </v-flex>
      <!-- / children-->
      <!-- intervention -->
      <v-flex lg12 md12 sm12 :class="[children && children.length ? null : 'mt-2']">
        <v-card>
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.socialDistancing(country)" />
          </v-card-title>
          <v-divider />
          <v-card-text v-html="$lang.socialDistancingInfo" />
        </v-card>
      </v-flex>
      <v-flex d-flex lg3 md3 sm6 xs12 v-for="(measure, index) in projections.intervention" :key="index">
        <v-card :class="['text-xs-center']" dark :color="getColorScheme('success')">
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="moment(measure.date_reported).format($root.config.humanReadableDateFormat)" />
          </v-card-title>
          <v-divider />
          <v-card-text :class="['pa-2']">
            <div :class="['mb-2']">
              <v-icon large v-if="icons[measure.covid_intervention_measure_id] && icons[measure.covid_intervention_measure_id].icon">{{ icons[measure.covid_intervention_measure_id].icon }}</v-icon>
              <v-icon large v-else>warning</v-icon>
            </div>
            <div hidden>{{ measure.covid_intervention_measure_id }}</div>
            <div v-if="icons[measure.covid_intervention_measure_id] && icons[measure.covid_intervention_measure_id].label" v-html="icons[measure.covid_intervention_measure_id].label" />
            <div v-else v-html="$lang.notAvailable" />
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- measures not implemented still -->
      <v-flex d-flex lg3 md3 sm6 xs12 v-if="getByNotImplemented(key)" v-for="(value, key) in icons" :key="value.label">
        <v-card :class="['text-xs-center']" dark :color="getColorScheme('warning')">
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.notImplemented" />
          </v-card-title>
          <v-divider />
          <v-card-text :class="['pa-2']">
            <div :class="['mb-2']">
              <v-icon large>{{ icons[key].icon }}</v-icon>
            </div>
            <div v-html="icons[key].label" />
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- / measures not implemented still -->
      <!-- / intervention -->
      <!-- bed -->
      <v-flex lg12 md12 sm12 v-if="projections.bed[0]">
        <v-card>
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.hospitalResourceUseIn(country)" />
          </v-card-title>
          <v-divider />
          <v-card-text v-html="$lang.hospitalResourceUseInInfo" />
        </v-card>
      </v-flex>
      <v-flex d-flex lg6 md6 sm6 xs12 v-if="projections.bed[0]">
        <v-card :class="['text-xs-center']" dark :color="getColorScheme('success')">
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.allBedsAvailable" />
          </v-card-title>
          <v-divider />
          <v-card-text :class="['pa-2']">
            <div :class="['display-1']" v-html="formatNumber(projections.bed[0].available_all_nbr)" />
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex d-flex lg6 md6 sm6 xs12 v-if="projections.bed[0]">
        <v-card :class="['text-xs-center']" dark :color="getColorScheme('success')">
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.icuBedsAvailable" />
          </v-card-title>
          <v-divider />
          <v-card-text :class="['pa-2']">
            <div :class="['display-1']" v-html="formatNumber(projections.bed[0].available_icu_nbr)" />
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- / bed -->
      <!-- deaths -->
      <v-flex lg12 md12 sm12>
        <v-card>
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.deathsPerDayIn(country)" />
          </v-card-title>
          <v-divider />
          <v-card-text v-html="$lang.deathsPerDayInInfo" />
        </v-card>
      </v-flex>
      <v-flex d-flex lg6 md6 sm6 xs12>
        <v-card dark :color="getColorScheme('danger')" :class="['text-xs-center']">
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="moment(projections.peak_death[0].deaths_date).format($root.config.humanReadableDateFormat)" />
          </v-card-title>
          <v-divider />
          <v-card-text :class="['pa-2']">
            <v-icon large>warning</v-icon>
            <div v-html="daysUntil(projections.peak_death[0].deaths_date)" />
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex d-flex lg6 md6 sm6 xs12>
        <v-card dark :color="getColorScheme('warning')" :class="['text-xs-center']">
          <v-card-title primary-title :class="['py-2']">
            <div :class="['title', 'full-width']" v-html="$lang.peakDeathsMean(projections.peak_death[0].peak_deaths_mean)" />
          </v-card-title>
          <v-divider />
          <v-card-text :class="['pa-2']">
            <v-icon large>warning</v-icon>
            <div v-html="$lang.peakDeathsMeanOn(moment(projections.peak_death[0].deaths_date).format($root.config.humanReadableDateFormat))" />
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- / deaths-->
    </template>
  </v-layout>
</template>
<script>
import moment from 'moment'
import methods from '../mixins/methods'
import countryProjectionFixes from '../helpers/country-projection-fixes'

export default {
  name: 'Projections',
  mixins: [
    methods
  ],
  data () {
    return {
      moment,
      child: null,
      children: [],
      projections: null,
      noProjectionsData: false,
      icons: this.$lang.projectionsIcons
    }
  },
  computed: {
    /**
     * @computed
     * @return {string}
     */
    country () {
      const country = this.child !== null ? this.children.find(child => child.value === this.child).text : this.$route.params.country
      return (countryProjectionFixes[country] || country).toLowerCase()
    }
  },
  watch: {
    /**
     * @watcher
     * @return {void}
     */
    '$route.params.country' () {
      if (this.$root.location.length) {
        this.child = null
        this.children = []
        this.$nextTick(() => {
          this.getProjections()
        })
      }
    }
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onCreated
     * @return {void}
     */
    onMounted () {
      this.getLocation()
    },
    /**
     * Handler for the @change event of the regions/states dropdown
     * @method getChildProjections
     * @param {number} id [id = 0]
     * @return {void}
     */
    getChildProjections (id = 0) {
      this.getProjectionsData(id, this.children, false)
    },
    /**
     * Calculate the diference between dates
     * @method daysUntil
     * @return {number}
     */
    daysUntil (date) {
      return this.$lang.daysUntilPeakDate(moment(date).diff(moment(), 'days'))
    },
    /**
     * Check if a measure is still not implemented
     * @method getByNotImplemented
     * @param {string} id [id = '1']
     * @return {boolean}
     */
    getByNotImplemented (id = '1') {
      return !this.projections.intervention.find(measure => measure.covid_intervention_measure_id === parseInt(id, 10))
    },
    /**
     * Get an array of the available locations from the API and set in the $root of the app
     * @method getLocation
     * @return {void}
     */
    getLocation () {
      const root = this.$root
      const route = this.$api.location
      if (root.location.length) {
        return
      }
      this.projections = null
      root.noAjaxSpinner = true
      root.loadingOverlayMessage = this.getLoadingOverlayMessage('gettingProjectionsLocations')
      this.$http({
        url: route.url,
        method: route.methods[0]
      }).then(response => {
        if (
          response &&
          response.data &&
          response.data.length
        ) {
          root.location = response.data
          this.$nextTick(() => {
            this.getProjections()
          })
        }
        root.noAjaxSpinner = false
        root.loadingOverlayMessage = null
      }).catch(error => {
        root.noAjaxSpinner = false
        console.error(error)
      })
    },
    /**
     * Get the projected data for the selected country/region from the API or show a warning if not found
     * @method getProjectionsData
     * @param {number} id [id = null]
     * @param {array} children [children = []]
     * @param {boolean} noAjaxSpinner [noAjaxSpinner = true]
     * @return {void}
     */
    getProjectionsData (id = 0, children = [], noAjaxSpinner = true) {
      const root = this.$root
      const route = this.$api.projections
      this.children = children
      root.noAjaxSpinner = noAjaxSpinner
      root.loadingOverlayMessage = this.getLoadingOverlayMessage('gettingProjectionsForTheSelectedLocation')
      this.$http({
        url: route.url,
        method: route.methods[0],
        data: {
          id
        }
      }).then(response => {
        if (response && response.data) {
          this.projections = response.data
          this.noProjectionsData = false
        }
        root.noAjaxSpinner = false
        root.loadingOverlayMessage = null
      }).catch(error => {
        root.noAjaxSpinner = false
        console.error(error)
      })
    },
    /**
     * Get the projected data for the selected country from the API or show a warning if not found
     * @method getProjections
     * @return {void}
     */
    getProjections () {
      const root = this.$root
      const region = this.child !== null ? this.$route.params.country.toLowerCase() : this.country.toLowerCase()
      const country = root.location.find(item => item.location_name.toLowerCase() === region)
      if (country) {
        const id = parseInt(country.location_id, 10)
        const children = []
        if (country.children && country.children.length) {
          country.children.forEach(child => {
            children.push({
              text: child.location_name,
              value: parseInt(child.location_id, 10)
            })
          })
        }
        this.getProjectionsData(id, this.children.length ? [] : children)
      } else {
        root.noAjaxSpinner = false
        this.noProjectionsData = true
      }
    }
  }
}
</script>
