<template>
  <div :class="['stats-nav', 'elevation-1', getColorScheme(), $route.name === 'countries' ? null : 'stats-nav-hidden']">
    <template v-for="(location, index) in locations" v-if="location.render">
      <v-btn v-if="location.selector !== '.states'" :disabled="location.selector !== '.news-feed' ? false : $root.newsLoading || $route.params.country === 'all'" :key="index" dark small icon :class="['ma-1']" :title="location.title" @click="goToSection(location.selector)">
        <v-icon small color="white">{{ location.icon }}</v-icon>
      </v-btn>
      <v-btn v-else-if="location.selector === '.states' && $route.params.country === 'united states'" :key="index" dark small icon :class="['ma-1']" :title="location.title" @click="goToSection(location.selector)">
        <v-icon small color="white">{{ location.icon }}</v-icon>
      </v-btn>
      <v-divider :key="`${index}-divider`" v-if="index < locations.length - 1" />
    </template>
  </div>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'StatsNav',
  mixins: [
    methods
  ],
  data () {
    return {
      locations: [{
        title: this.$lang.mainStats,
        selector: '.application',
        icon: 'mdi-chart-bar-stacked',
        render: true
      }, {
        title: this.$lang.map,
        selector: '.maps-section',
        icon: 'mdi-google-maps',
        render: true
      }, {
        title: this.$lang.byState,
        selector: '.states',
        icon: 'mdi-map-marker',
        render: true
      }, {
        title: this.$lang.charts,
        selector: '.charts-section',
        icon: 'mdi-chart-donut-variant',
        render: true
      }, {
        title: this.$lang.byContinent,
        selector: '.continents',
        icon: 'mdi-map',
        render: true
      }, {
        title: this.$lang.cfr,
        selector: '.cfr-grid',
        icon: 'mdi-grid',
        render: true
      }, {
        title: this.$lang.news,
        selector: '.news-feed',
        icon: 'mdi-newspaper',
        render: false
      }]
    }
  },
  methods: {
    /**
     * Scroll to an element
     * @function goToSection
     * @param {Element} selector [selector = null]
     * @return {void}
     */
    goToSection (selector = null) {
      const label = selector
      selector = document.querySelector(selector)
      if (selector) {
        selector.scrollIntoView(true)
        this.gtEvent('click', {
          event_category: 'view stats section',
          event_label: label
        })
      }
    }
  }
}
</script>
<style>
.stats-nav
{
  position: fixed;
  z-index: 9000;
  top: 48px;
  right: 0;
  overflow: hidden;
  border-radius: 0 0 0 16px;
  transition: all 500ms ease-in-out;
}

.stats-nav.stats-nav-hidden
{
  right: -48px;
}
</style>
