<template>
  <v-layout row wrap v-if="states.length" :class="['states']">
    <v-flex lg12 md12 sm12>
      <v-card>
        <v-card-title v-html="$lang.statesDescription" :class="['pb-0']" />
        <v-card-text :class="['pt-0']">
          <form autocomplete="off" @submit.prevent :class="['pa-0', 'ma-0']">
            <v-text-field spellcheck="false" browser-autocomplete="off" prepend-icon="search" v-model="search" aria-label="filter-states" :title="$lang.filterStates" :placeholder="$lang.filterStates" :class="['mx-2', 'my-1']" hide-details :color="getColorScheme()" />
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex @click="getStateData(state.state)" v-for="(state, index) in filteredList" lg3 md3 sm4 :key="index" :class="['item-clickable']">
      <vc-pie-chart size="24vh" height="55vh" :title="state.state" :donut-hole-color="setDonutHoleColor()" :data="chart(state)" :donut="true" />
    </v-flex>
    <state v-if="state" :state="state" @close="state = null" />
  </v-layout>
</template>
<script>
import methods from '../mixins/methods'

export default {
  name: 'States',
  mixins: [
    methods
  ],
  data () {
    return {
      state: null,
      search: '',
      states: [],
      include: [
        'cases',
        'todayCases',
        'deaths',
        'todayDeaths',
        'active'
      ]
    }
  },
  mounted () {
    this.onMounted()
  },
  computed: {
    /**
     * Filter the list according to the search property
     * @computed
     * @return {array}
     */
    filteredList () {
      return this.states.filter(state => {
        return state.state.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      })
    }
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      this.getStatesData()
    },
    /**
     * Generate chart data
     * @method chart
     * @params {object} state [state = {}]
     * @return {array}
     */
    chart (state = {}) {
      const chart = []
      Object.keys(state).forEach(key => {
        if (state[key] && key !== 'state' && this.include.includes(key)) {
          chart.push({
            value: state[key],
            label: this.$lang[key],
            color: this.$config.caseColors[key]
          })
        }
      })
      return chart
    },
    /**
     * Get information for a specific state in the US and display in a dialog
     * @method getStateData
     * @param {string} state [state = '']
     * @return {void}
     */
    getStateData (state = '') {
      if (state) {
        this.state = this.states.find(item => item.state.toLowerCase() === state.toLowerCase())
      }
    },
    /**
     * Get the USA data by state from the API
     * @method getStatesData
     * @return {void}
     */
    getStatesData () {
      const route = this.$api['states']
      const root = this.$root
      const states = root.states
      if (states && states.length) {
        this.states = states
        return
      }
      this.$root.loadingOverlayMessage = this.getLoadingOverlayMessage('getStatesData')
      this.$http({
        url: route.url,
        method: route.methods[0]
      }).then(response => {
        if (response.data && response.status === 200) {
          this.states = response.data
          this.$root.states = this.states
        }
        this.$root.loadingOverlayMessage = null
      }).catch(error => {
        console.error(error)
      })
    }
  }
}
</script>
