<template>
  <v-dialog persistent v-model="visible" width="640" :class="['state-info']">
    <v-card v-if="state">
      <v-card-title :class="['title', getColorScheme(), 'white--text', 'py-1', 'pr-1']">
        <span v-html="state.state" />
        <v-spacer />
        <v-btn small dark icon @click="$emit($events.close)" :title="$lang.close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text :class="['pa-1']">
        <v-list dense two-line :class="['state-info-list']">
          <template v-for="(value, key) in state" v-if="key !== 'state'.toLowerCase()">
            <v-list-tile :key="key">
              <v-list-tile-content>
                <v-list-tile-title v-html="($lang[key] || key) + ':'" />
                <v-list-tile-sub-title v-html="format(value)" />
              </v-list-tile-content>
            </v-list-tile>
            <v-divider :key="`${key}-divider`" />
          </template>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import methods from '../mixins/methods'
import numeral from 'numeral'

export default {
  name: 'State',
  mixins: [
    methods
  ],
  data () {
    return {
      visible: true
    }
  },
  props: {
    /**
     * State details
     * @object
     */
    state: {
      type: Object,
      required: true
    }
  },
  methods: {
    /**
     * Format the value to human readable numerals
     * @method format
     * @param {number} value
     * @return {string|number}
     */
    format (value) {
      if (value) {
        return numeral(value).format(this.$config.numeralsFormat)
      }
      return value
    }
  }
}
</script>
<style>
.state-info-list
{
  overflow: auto;
  max-height: 370px;
}
</style>
