<template>
  <v-card :title="$route.params.country !== 'all' ? $lang.viewDataForSelectedDate : null" :class="['text-xs-center', $route.params.country !== 'all' ? 'item-clickable' : null]" @click="$route.params.country !== 'all'? $router.push({path: `/${$root.datePickerDate}/all`}) : null">
    <v-card-title primary-title :class="['py-2']">
      <div :class="['title', 'full-width']">
        <span v-html="$lang.totalCases($root.today.cases)" />
        <span :title="$lang.yesterday" :class="['caption', 'previous-day']">
          +{{ ($root.today.cases - getPreviousDay('cases')) | numFormat }}
        </span>
      </div>
    </v-card-title>
    <v-divider />
    <v-card-text>
      <v-container grid-list-md :class="['pa-0']">
        <v-layout row wrap>
          <v-flex :class="[getColorScheme(key === 'deaths' ? 'danger' : 'success', true)]" v-for="(value, key) in $root.today" :key="key" v-if="include.includes(key)">
            <div :class="['body-2', 'mb-2']" v-html="$lang[key]" />
            <div :class="['title']">{{ value | numFormat }} <span :title="$lang.yesterday" :class="['caption', 'previous-day']">+{{ (value - getPreviousDay(key)) | numFormat }}</span></div>
          </v-flex>
          <v-flex>
            <div :class="['body-2', 'mb-2']" v-html="$lang.countriesAffected" />
            <div :class="['title']" v-html="`${$root.countries.length}/${$root.coords.length}`" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <export-as-label />
      <export-csv :data="$root.today" />
      <export-json :data="$root.today" />
      <v-spacer />
      <cfr :deaths="$root.today.deaths" :cases="$root.today.cases" />
    </v-card-actions>
  </v-card>
</template>
<script>
import methods from '../mixins/methods'
import moment from 'moment'

export default {
  name: 'Total',
  mixins: [
    methods
  ],
  data () {
    return {
      include: [
        'deaths',
        'recovered'
      ]
    }
  },
  methods: {
    getPreviousDay (key) {
      const root = this.$root
      const previousDay = moment(root.datePickerDate).subtract(1, 'days').format(root.config.routeFormat)
      const previousDayData = root.compareDates[previousDay]
      if (previousDayData) {
        const data = {
          cases: previousDayData.cases,
          deaths: previousDayData.deaths,
          recovered: previousDayData.recovered
        }
        return data[key]
      }
    }
  }
}
</script>
<style>
.previous-day
{
  position: relative;
  top: -6px;
  opacity: .8;
}
</style>
