<template>
  <v-card :class="[`${name}-wrapper`]">
    <v-card-text :id="`${id}-export`" :style="{height}">
      <div :class="[`${name}-title`, 'text-xs-center', 'ellipsis', 'title', 'mb-4']" v-html="title" v-if="title" />
      <div :class="[name, flat ? `${name}-flat` : null, 'my-4']" :id="id" v-if="data.length">
        <div :class="[`${name}-container`]">
          <div :class="[`${name}-donut`]" v-if="donut" />
        </div>
      </div>
      <ul v-if="legend" :class="[`${name}-legend`]">
        <li v-for="(item, index) in data" :key="index" v-if="item.value" :title="label(item)">
          <span :style="{background: item.color}" /><span v-html="label(item)" />
        </li>
      </ul>
      <vc-style>
      #{{ id }},
      #{{ id }} .{{ name }}-container
      {
        width: {{ size }};
      }

      #{{ id }} .{{ name }}-container
      {
        height: {{ size }};
      }

      #{{ id }} .{{ name }}-container
      {
        background: {{ segments }};
      }

      #{{ id }} .{{ name }}-donut
      {
        background: {{ donutHoleColor }};
        width: calc({{ size }} / 2.5);
        height: calc({{ size }} / 2.5);
      }
      </vc-style>
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <export-as-label />
      <export-image :node-id="`${id}-export`" />
    </v-card-actions>
  </v-card>
</template>
<script>
import { v4 as uuidv4 } from 'uuid'
import numeral from 'numeral'
import config from '../helpers/config'

export default {
  name: 'VcPieChart',
  data () {
    return {
      total: 0,
      name: 'vc-piechart',
      id: `vc-piechart-${uuidv4()}`,
      parentBgColor: null
    }
  },
  props: {
    /**
     * Width and height of the chart in px, em, percentage, etc.
     */
    size: {
      type: String,
      required: false,
      default: 'auto'
    },
    /**
     * Height of the chart wrapper in px, em, percentage, etc.
     */
    height: {
      type: String,
      required: false,
      default: '256px'
    },
    /**
     * Chart data array
     * [{
     *  color: String,
     *  value: Number,
     *  label: String
     * }]
     */
    data: {
      type: Array,
      required: false,
      default: () => []
    },
    /**
     * Toggle the chart legend
     */
    legend: {
      type: Boolean,
      required: false,
      default: true
    },
    /**
     * Optional chart title
     */
    title: {
      type: String,
      required: false
    },
    /**
     * Toggle donut mode
     */
    donut: {
      type: Boolean,
      required: false
    },
    donutHoleColor: {
      type: String,
      required: false,
      default: '#fff'
    },
    /**
     * Toggle the chart drop shadow
     */
    flat: {
      type: Boolean,
      required: false
    }
  },
  computed: {
    /**
     * Create the gradients for the segments
     * @computed segments
     * @return {string}
     */
    segments () {
      let gradient = 0
      let styles = this.data.map(
        segment => `${segment.color} 0 ${(gradient += this.slice(segment.value))}%`
      )
      return `conic-gradient(${styles.join(',')})`
    }
  },
  mounted () {
    this.onMounted()
  },
  methods: {
    /**
     * Handler for the $mounted lifecycle event of the component
     * @method onMounted
     * @return {void}
     */
    onMounted () {
      this.setChartTotal()
    },
    /**
     * Return chart series slice
     * @method slice
     * @param {number} value [value=0]
     * @return {number}
     */
    slice (value = 0) {
      return this.total === 0 ? 0 : Math.round(value * 100 / this.total)
    },
    /**
     * Get chart totals
     * @method setChartTotal
     * @return {void}
     */
    setChartTotal () {
      this.data.forEach(bar => {
        this.total = this.total + bar.value
      })
    },
    /**
     * Create a label out of the item.label and item.value
     * @method label
     * @param {object} item
     * @return {string}
     */
    label (item = null) {
      if (item) {
        return `${item.label} (${numeral(item.value).format(config.numeralsFormat)})`
      }
    },
    /**
     * Get a computed CSS property value from an element
     * @method getNodeCssPropertyValue
     * @param {Element} node [node=document.body]
     * @param {string} property [property='background-color']
     * @return {string}
     */
    getNodeCssPropertyValue (node = document.body, property = 'background-color') {
      return window.getComputedStyle(node, null).getPropertyValue(property)
    }
  }
}
</script>
<style>
.vc-piechart-wrapper .vc-piechart,
.vc-piechart-wrapper .vc-piechart-container,
.vc-piechart-wrapper .vc-piechart span:first-child,
.vc-piechart-wrapper .vc-piechart .vc-piechart-container .vc-piechart-donut
{
  border-radius: 100%;
}

.vc-piechart-wrapper .vc-piechart,
.vc-piechart-wrapper .vc-piechart *
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vc-piechart-wrapper li,
.vc-piechart-wrapper li span
{
  display: inline-block;
  vertical-align: middle;
}

.vc-piechart-wrapper ul,
.vc-piechart-wrapper .vc-piechart .vc-piechart-title
{
  text-align: center;
  font-size: .8em;
}

.vc-piechart-wrapper .vc-piechart:not(.vc-piechart-flat) .vc-piechart-container
{
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
}

.vc-piechart-wrapper .vc-piechart:not(.vc-piechart-flat) .vc-piechart-container .vc-piechart-donut
{
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2) inset,
    0 4px 5px 0 rgba(0, 0, 0, .14) inset,
    0 1px 10px 0 rgba(0, 0, 0, .12) inset;
}

.vc-piechart-wrapper .vc-piechart .vc-piechart-container
{
  position: relative;
}

.vc-piechart-wrapper .vc-piechart .vc-piechart-container .vc-piechart-donut
{
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vc-piechart-wrapper .vc-piechart
{
  user-select: none;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #303030;
  margin: auto;
}

.vc-piechart-wrapper .vc-piechart .vc-piechart-title
{
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

.vc-piechart-wrapper li
{
  padding: .2em;
}

.vc-piechart-wrapper li span:first-child
{
  width: .85em;
  height: .85em;
  margin: -2px .4em 0 0;
}
</style>
