<template>
  <v-app id="app" :dark="$root.config.dark" :class="['unselectable']">
    <v-toolbar dense dark app :color="getColorScheme()" :class="['app-bar']">
      <v-toolbar-side-icon aria-label="menu" @click="nav = !nav" />
      <v-toolbar-title v-html="$config.appTitle" />
      <template v-if="$root.ready">
        <v-spacer />
        <span @click="$root.datePickerDialog = true" :title="$lang.viewHistoricalData" v-html="moment($root.config.today).format($root.config.humanReadableDateFormat)" :class="['hidden-sm-and-down', 'subheading', 'item-clickable']" />
        <v-btn aria-label="open-datepicker" icon dark v-if="$root.ready" @click="$root.datePickerDialog = true" :title="$lang.viewHistoricalData">
          <v-icon>mdi-calendar-check</v-icon>
        </v-btn>
        <v-btn :disabled="checkIfTodayIsNow" aria-label="today" @click="setDate(moment(new Date()).format($root.config.routeFormat))" icon dark :title="$lang.viewTodaysData">
          <v-icon>mdi-calendar-today</v-icon>
        </v-btn>
        <v-btn :disabled="!$root.bookmarks.length" @click="bookmarksDialog = true" :title="$lang.bookmarkedLocations" aria-label="bookmarked-locations" icon dark>
          <v-icon>mdi-star-outline</v-icon>
        </v-btn>
        <buy-me-a-coffee />
        <v-btn aria-label="about" icon dark to="/about" :title="$lang.aboutTheApp">
          <v-icon>mdi-information-outline</v-icon>
        </v-btn>
      </template>
    </v-toolbar>
    <v-navigation-drawer app v-model="nav">
      <template v-if="$root.ready">
        <app-avatar :title="$lang.viewDataForSelectedDate" :icon-color="getColorScheme()" background-image="/static/images/app-avatar.webp" :icon="null" />
        <app-controls />
        <countries-list avatar="mdi-star-outline" max-height="58vh" />
      </template>
    </v-navigation-drawer>
    <v-content>
      <v-container>
        <router-view v-if="$root.ready" />
      </v-container>
    </v-content>
    <v-footer v-if="$root.ready" app inset :class="['py-4', 'elevation-24']">
      <span :class="['ml-4', 'caption']" v-if="$root.today.updated && moment(new Date()).format(this.$root.config.routeFormat) === $root.datePickerDate">
        <span :class="['hidden-sm-and-down']" :title="$lang.updated">{{ $lang.updated }}: </span>
        <span :title="$lang.updated">{{ moment($root.today.updated).format($root.config.dataLastUpdated) }}</span>
      </span>
      <v-spacer />
      <span :class="['mr-4', 'caption']">
        <span :class="['hidden-sm-and-down']">&copy;{{ date.getFullYear() }}&nbsp;</span><span v-html="$lang.versionLine($config.version, $config.lastUpdated)" /> <span :class="['hidden-sm-and-down']">&middot; <router-link :class="[$root.config.dark ? 'white--text' : 'black--text']" to="/about" v-html="$lang.about" :title="$lang.aboutTheApp" /> &middot; <a href="https://twitter.com/vuecidity" :title="$lang.twitter" target="_blank">@vuecidity</a> &middot; {{$config.version}} ({{$config.lastUpdated}})</span></span>
    </v-footer>
    <cookie-consent v-if="$root.ready" />
    <v-dialog persistent v-model="$root.noDataAvailable" width="500">
      <v-card>
        <v-card-title :class="['title', getColorScheme('danger'), 'white--text']" v-html="$lang.noDataAvailableTitle" />
        <v-card-text v-html="$lang.noDataAvailableMessage" />
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn aria-label="close" href="/" :title="$lang.ok" :color="getColorScheme('danger')" dark v-html="$lang.ok" @click="locationReload()" />
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-if="$root.ready" v-model="$root.datePickerDialog" :return-value.sync="$root.datePickerDate" persistent lazy full-width width="290">
      <v-date-picker @input="setDate" :color="getColorScheme()" :allowed-dates="getAllowedDates" v-model="$root.datePickerDate" scrollable>
        <v-btn aria-label="close-diatepicker" :color="getColorScheme()" dark block @click="$root.datePickerDialog = false" :title="$lang.cancel">{{ $lang.cancel }}</v-btn>
      </v-date-picker>
    </v-dialog>
    <v-dialog persistent v-model="bookmarksDialog" width="290">
      <v-card>
        <v-card-title :class="['title', getColorScheme(), 'white--text']" v-html="$lang.bookmarkedLocations" />
        <v-card-text :class="['pa-1']">
          <v-list dense :class="['bookmarks-list']">
            <template v-for="(country, index) in $root.bookmarks">
              <v-list-tile :title="$lang.viewCountryData(country)" :key="country" :to="getCountryByDate(country)">
                <v-list-tile-avatar @click.prevent="bookmark(country)">
                  <v-icon :title="$lang.bookmarkRemove" :color="getColorScheme('warning')">mdi-star</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-html="country" :class="[$root.config.dark ? 'white--text' : 'black--text']" />
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon>mdi-chevron-right</v-icon>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider :key="index" v-if="index < $root.bookmarks.length - 1" />
            </template>
          </v-list>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-btn block aria-label="close" :title="$lang.close" :color="getColorScheme()" dark v-html="$lang.close" @click="bookmarksDialog = false" />
        </v-card-actions>
      </v-card>
    </v-dialog>
    <country />
    <loading-overlay :message="$root.loadingOverlayMessage" />
  </v-app>
</template>
<script>
import methods from './mixins/methods'
import moment from 'moment'

export default {
  name: 'App',
  mixins: [
    methods
  ],
  data () {
    return {
      moment,
      nav: null,
      bookmarksDialog: false,
      date: new Date()
    }
  },
  computed: {
    checkIfTodayIsNow () {
      return this.$route.params.date === moment(new Date()).format(this.$root.config.routeFormat)
    }
  },
  watch: {
    '$route.path' () {
      this.bookmarksDialog = false
    }
  },
  methods: {
    /**
     * Get the allowed dates for the date-picker
     * @method getAllowedDates
     * @param {string} value
     * @return {boolean}
     */
    getAllowedDates (value) {
      return this.$root.history.indexOf(value) !== -1
    },
    /**
     * Set today this.$root.config.today and close the date-picker
     * @method setDate
     * @param {string} date
     * @return {void}
     */
    setDate (date) {
      this.$root.config.today = date
      this.$root.datePickerDialog = false
      this.$nextTick(() => {
        if (this.$route.name !== 'countries') {
          this.$router.push({
            path: this.getCountryByDate()
          })
        }
        this.gtEvent('click', {
          event_category: 'set date',
          event_label: date
        })
      })
    }
  }
}
</script>
<style>
html
{
  cursor: default;
  scroll-behavior: smooth;
}

*
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unselectable
{
  user-select: none;
}

.item-clickable
{
  cursor: pointer;
}

.title-case
{
  text-transform: capitalize;
}

.full-width
{
  width: 100%;
}

.app-bar,
.v-navigation-drawer
{
  z-index: 10000 !important;
}

.v-footer
{
  z-index: 9000 !important;
}

.v-overlay ~ .application--wrap .leafmap
{
  position: relative;
  z-index: 0;
}

.icon-button-auto-width
{
  min-width: auto !important;
}

.theme--dark a[target="_blank"]:not(.v-list__tile)
{
  color: #fff !important;
}

.theme--light a[target="_blank"]:not(.v-list__tile)
{
  color: rgba(0, 0, 0, .87) !important;
}

.theme--dark ::-webkit-scrollbar,
.theme--dark ::-webkit-scrollbar-track,
.theme--dark ::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #424242;
}

.theme--dark ::-webkit-scrollbar
{
  width: 12px;
}

.theme--dark ::-webkit-scrollbar-thumb
{
  background-color: #303030;
}

.ellipsis
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bookmarks-list
{
  max-height: 212px;
  overflow: auto;
}

.capitalize
{
  text-transform: capitalize;
}

.not-implemented
{
  opacity: .5;
}

[hidden]
{
  display: none;
}
</style>
